<template>
    <div class="form-container">
  
      <form  @submit.prevent="submitForm">
        <TitleSubtitle :title="formTitle" :subtitle="formSubtitle" />
  
        <div v-for="input in inputs" :key="input.key">
          <FormInput
            :key="input.key"
            v-model="formData[input.key]"
            :type="input.type"
            :placeholder="input.placeholder"
            :validator="input.validator"
            :errorMessage="input.errorMessage"
            :datalist="input.datalist"
            :listId="input.listId"
            :required="input.required"
            v-model:hasError="fieldHasErrors[input.key]"
            @input="validateField(input.key, formData[input.key])"
            @blur="validateField(input.key, formData[input.key])"
          />
          <span v-if="errors[input.key]" class="error-message">{{ errors[input.key] }}</span>
        </div>
  
        <button :disabled="isSubmitDisabled" type="submit" class="submit-button">&gt;</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import TitleSubtitle from './TitleSubtitle.vue';
  import FormInput from './FormInput.vue';
  
  export default {
    components: {
      TitleSubtitle,
      FormInput
    },
    props: {
      formTitle: {
        type: String,
        required: true
      },
      formSubtitle: {
        type: String,
        required: true
      },
      inputs: {
        type: Array,
        required: true,
        default: () => []
      },
      submitUrl: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        formData: {},
        validFields: {},
        errors: {},
        fieldHasErrors: {},
        loading: false
      };
    },
    computed: {
      isFormValid() {
        return Object.values(this.validFields).every(isValid => isValid);
      },
      isSubmitDisabled() {
        return !this.isFormValid || this.loading;
      }
    },
    methods: {
      initializeFormData() {
        if (!Array.isArray(this.inputs)) {
          console.error('Inputs prop should be an array.');
          return;
        }
        this.inputs.forEach(input => {
            this.formData[input.key] = input.defaultValue || '';
            this.validFields[input.key] = !input.required;
            this.fieldHasErrors[input.key] = false;
        });
      },
      validateField(key, value) {
        const input = this.inputs.find(input => input.key === key);
        if (input && input.validator) {
          const isValid = input.validator(value);
          this.validFields[key] = isValid;
        }
      },
      submitForm() {
        if (!this.isFormValid) {
          alert('Please correct the errors before submitting.');
          return;
        }
        this.loading = true;
       
        axios.post(this.submitUrl, this.formData, {
          headers: {
            'Content-Type': 'application/json;charset=UTF-8'
          }
        }).then(response => {
          this.$emit('formSubmitted', response.data);
        }).catch(error => {
          console.error('Submission error:', error.response ? error.response.data : 'Network error');
        }).finally(() => {
          this.loading = false;
        });
      }
    },
    mounted() {
      this.initializeFormData();
    }
  };
  </script>
  
  
  <style scoped>
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .submit-button {
    bottom: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #43054e;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
    margin-bottom: 0px;
    float: right;
  }
  
  .submit-button:hover {
    background-color: #5a1a7c;
  }
  
  .submit-button:disabled {
    color: #fff;
    cursor: not-allowed;
    opacity: 60%;
    background-color: #43054e;
    
  }

  .input-group input {
    margin-bottom: 20px;
  }
  </style>
  