

<!-- 
  
Esse componente será o componente de "loading" ainda em desenvolvimento.
Fiquem a vontade para brincar com ele.

  <template>
  <div class="loading-container">
    <svg class="spinner" viewBox="0 0 100 100">
      <circle class="path" cx="50" cy="50" r="40" fill="none" stroke-width="8" stroke-linecap="round"></circle>
    </svg>
    <p class="loading-message">{{ currentMessage }}</p>
  </div>
</template>

<script>
export default {
  name: 'LoadingComponent',
  props: {
    messages: {
      type: Array,
      default: () => ['Finalizando o seu cadastro...', 'Parece que você tem uma avaliação hoje...', 'Identificando seu perfil de estudante...', "Gerando sua avaliação...", 'Tudo pronto!']
    },
    interval: {
      type: Number,
      default: 5000
    }
  },
  data() {
    return {
      currentMessageIndex: 0,
      currentMessage: '',
      messageRotation: setInterval(() => {}, 10)
    };
  },
  mounted() {
    this.currentMessage = this.messages[0];
    this.startMessageRotation();
  },
  methods: {
    startMessageRotation() {
      this.messageRotation = setInterval(() => {
        this.currentMessageIndex++;
        if (this.currentMessageIndex >= this.messages.length - 1) {
          clearInterval(this.messageRotation);
          this.$router.push({ name: 'AvaliacaoIndividual' });
        }
        this.currentMessage = this.messages[this.currentMessageIndex];
      }, this.interval+(this.currentMessageIndex*2000));
    }
  },
  beforeUnmount() {
    if (this.messageRotation) {
      clearInterval(this.messageRotation);
    }
  }
}
</script>

<style scoped>

@font-face {
  font-family: "Ceub";
  src: url("../assets/fonts/ceub-font/dTJakob_Lg.otf") format("opentype");
}
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
}

.spinner {
  animation: spin 2s linear infinite;
  width: 200px;
  height: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.path {
  stroke: #bf0087;
  stroke-dasharray: 150, 300;
  stroke-dashoffset: 0;
  stroke-width: 8;
}

.loading-message {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  font-family: "Ceub";
}
</style> -->
