<template>
    <div class="title-subtitle-container">
      <img src="../assets/logo-ceub.png" alt="Logo" class="logo"/>
      <h1 class="title">{{ title }}</h1>
      <p class="subtitle">{{ subtitle }}</p>
    </div>
  </template>
  
  <script>
  export default {
    name: 'TitleSubtitle',
    props: {
      title: String,
      subtitle: String
    }
  }
  </script>
  
<style>
.title-subtitle-container {
  text-align: center;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  color: #4e2a84; 
  font-size: 36px; 
  font-family: "future";
  margin-bottom: 0.25rem; 
  margin-top: 0;
  letter-spacing: 1.5px; 
}

.subtitle {
  color: #bf0087;
  font-size: 14px; 
  margin-top: 0;
  margin-bottom: 1.5rem; 
  letter-spacing: 0.5px; 
}

@font-face {
  font-family: "future";
  src: url("../assets/fonts/future/TestTheFuture-Medium-BF66458176dc698.otf") format("opentype");
}
</style>