<template>
  <div id="app">
    <DynamicForm
      :form-title="'Registro do Estudante'"
      :form-subtitle="'Exclusivo para alunos do Prof. Caio de Melo'"
      :inputs="fields"
      :submit-url="'http://127.0.0.1:8080/student'"
      @formSubmitted="handleFormSubmission"
    />
  </div>
</template>

<script>
import DynamicForm from './components/DynamicForm.vue';

export default {
  components: {
    DynamicForm
  },
  data() {
    return {
      fields: [
        {
          key: 'name',
          type: 'text',
          placeholder: 'Nome Completo',
          validator: value => value.length > 0,
          errorMessage: 'Por favor, insira um nome completo.',
          required: true
        },
        {
          key: 'email',
          type: 'email',
          placeholder: 'Seu Email',
          validator: value => value.endsWith('@sempreceub.com'),
          errorMessage: 'Email deve ser do domínio "@sempreceub.com".',
          required: true
        },
        {
          key: 'class',
          type: 'text',
          placeholder: 'Sua Turma',
          validator: function(value) { return this.datalist.some(option => option.value === value); },
          errorMessage: 'Turma inválida.',
          required: true,
          datalist: [
            { label: 'LTP2-A', value: 'LTP2-A' },
            { label: 'LTP2-B', value: 'LTP2-B' },
            { label: 'LTP2-C', value: 'LTP2-C' },
            { label: 'LTP2-UN', value: 'LTP2-UN' },
            { label: 'WEB-UN', value: 'WEB-UN' },
            { label: 'ARQ-UN', value: 'ARQ-UN' }
          ]
        },
        {
          key: 'pass',
          type: 'password',
          placeholder: 'Defina sua Senha',
          validator: value => value.length >= 8,
          errorMessage: 'Senha deve ter no mínimo 8 caracteres.',
          required: true
        },
      ]
    };
  },
  methods: {
    handleFormSubmission(data) {
      console.log('Form data submitted:', data);
    }
  }
};
</script>

<style>
#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Ceub";
}

#app::before {
  content: "";
  position: fixed; /* Use 'fixed' instead of 'absolute' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, #43054e, #662c92, #bf0087);
  background-size: 250% 400%;
  animation: gradientAnimation 5s ease infinite;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "Ceub";
  src: url("./assets/fonts/ceub-font/dTJakob_Lg.otf") format("opentype");
}  
</style>
